.container{
  display: flex;
  justify-content: center;
  background-image: url('../../../../assets/images/hands.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height:auto;
}
.container-flex-column{
  display: flex;
  flex-direction: column;
}
button{
  padding: 15px;
  margin: 10px;
  width: 120%;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.back{
  height: 150px;
  width: 300px;
}
