<div>
    <div class="filterAndButton">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <button dir="ltr" (click)="addVolunteer()" mat-raised-button color={{color}} style="height: fit-content;">הוספת מתנדב חדש</button>
    </div>
    <div *ngFor="let v of volunteers">
            <mat-accordion (click)="detailsVolunteer(v)">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{v.firstName}} {{v.lastName}}
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                            This is a summary of the content
                        </mat-panel-description> -->
                        <!-- <button mat-stroked-button color={{color}} *ngIf="v.isActive" (click)="changeStatus(v)">שנוי סטטוס ל-לא פעיל</button>
                        <button mat-stroked-button color={{color}} *ngIf="!v.isActive" (click)="changeStatus(v)">שנוי סטטוס ל- פעיל</button> -->
                        <button mat-stroked-button color={{color}} (click)="editVolunteer(v.idVolunteer)">עריכת פרטים</button>
                        <button mat-stroked-button color={{color}}>הסטורית פעיל</button>
                    </mat-expansion-panel-header>
                    <div *ngIf="currentVolunteerDetails">
                        <p>{{currentVolunteerDetails.gmail}}</p>
                        <p>{{currentVolunteerDetails.phone}}</p>
                        ש פלאפון ומייל ואזור 
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        <!-- </li> -->
    </div>
</div>