<mat-toolbar style="height: 120px; box-shadow: 0.5px 1px rgb(192 192 192); background-color: aliceblue;">
  <!-- <mat-drawer-container class="example-container" autosize> -->
  <!-- <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>jhxjhgc</p>(click)="drawer.toggle()"
  </mat-drawer> -->
    <button mat-icon-button  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon [inline]="true">menu</mat-icon>
    </button>
  <!-- </mat-drawer-container> -->
    <!-- <span>My App</span>  -->
    <span class="example-spacer"></span>
    <img style="width: 285px; padding-bottom: 10px;padding: 10px;" src={{logo}} alt="logohe">



</mat-toolbar>