<body>
    <div class="all">
        <div class="card">
            <h1>הכנס סיסמת מנהל לכניסה למערכת</h1>
            <mat-form-field class="form" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput #pass [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button (click)="checkPassword(pass.value)" style="padding: 5px;" mat-raised-button>כניסה</button>
        </div>
        <div class="logo">
            <img style="width: 500px;" src="../../../../assets/images/logohe.png" alt="Ayelet_Hashachar">
        </div>
    </div>
</body>