

body{
    background-image: url('../../../../assets/images/love.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height:auto;
}

.all{
    position: fixed;
    left: 6%;
    flex-direction: column;
    display: flex;
    height: 100%;
    top: 40px;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 370px;
    margin-top: 60px;
}

h1{
    margin: 0 0 45px;
    font-weight: bolder;
}
.btn_enter{
    width: 200px;
}