/* .login-main{
    margin-top: 10%;
    }
    mat-card{
    min-width: 40%;
    }
.card{
    color: rgb(79, 126, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    border: 3.5px gray double;
    border-radius: 1.3%;
    padding: 60px 80px 60px 80px;
    align-items: center;
    background-color: rgb(236, 243, 243);
    
}
h2{
    font-size: x-large;
}
.logo{
    position: absolute;
    bottom:20px;
    left: 20px;
}
.form{
    display:flex;
    flex-direction:column;
    padding-top: 10px;
}

.red{
    color: red;
    display: block;
}
.none{
    display: none;
}
*/

body{
    background-image: url('../../../../assets/images/love.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height:auto;
}

.all{
    position: fixed;
    left: 6%;
    flex-direction: column;
    display: flex;
    height: 100%;
    top: 40px;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 370px;
    margin-top: 60px;
}

h1{
    margin: 0 0 45px;
    font-weight: bolder;
}
.btn_enter{
    width: 200px;
}