<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;" mat-dialog-content>
        <p>הכנס סיסמה</p>
        <mat-form-field appearance="fill">
            <mat-label>סיסמה</mat-label>
            <input matInput [(ngModel)]="password">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">ביטול</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="password">הוספה</button>
    </div>
</div>

