.details{
    display:flex;
    flex-direction:row;
}
.details div{
    padding: 30px;
}
h2{
    font-size: xx-large;
    /* color: gray; */
}

.form_register{
    display:flex;
    flex-direction:column;
    margin-top: 40px;
    align-items: center;
    border: 3.5px black double;
    border-radius: 1.3%;
    padding: 60px 80px 60px 80px;
    margin-bottom: 120px;
}

/* .mat-form-field-flex .ng-tns-c69-0 {
    border-radius: 2px 2px 0 0;
    box-shadow: inset 0px 0.5px 1px rgb(192, 192, 192);

} */

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../../../../assets/images/hands.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height:auto;
}

.example-full-width{
    width: 270px;
}

