<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;" mat-dialog-content>
        <p>כדי להיכנס לנהול סיסמאות אנא הכנס סיסמא:</p>
        <mat-form-field appearance="fill">
            <mat-label>סיסמה</mat-label>
            <input matInput [(ngModel)]="password">
        </mat-form-field>
        <p *ngIf="notCorrectPass" style="color: red;">סיסמה שגויה נסה שוב</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">ביטול</button>
        <button mat-button (click)="checkPass()" >היכנס</button>
    </div>
</div>