<!-- 
<p>
    Option selected: {{holidays.selectedOptions.selected[0]?.value?.descriptionHoliday}}
</p> -->

<!--  רשימה של כל שמות החגים עם אפשרות להיכנס לכל חג ומה יהיה בכניסה לחג?
הוספת חג חדש
כפתור להפניה להסטוריה  -->

<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <div *ngFor="let h of holidays$ | async">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3><b>{{h.descriptionHoliday}}</b> </h3>
                </mat-panel-title>
                <mat-panel-description>
                    <button mat-button color="primary">הסטוריה
                        <mat-icon>history</mat-icon>
                    </button>
                </mat-panel-description>
                <mat-panel-description>
                    <button mat-button color="primary" (click)="editHoliday(h.idHoliday)">עריכת החג
                        <mat-icon>edit</mat-icon>
                    </button>

                </mat-panel-description>

            </mat-expansion-panel-header>

            <u> מקצועות החג:</u>

            <div *ngFor="let p of h.professionals" appearance="fill">
                <ul>
                    <mat-label>{{p.descriptionProfessional}}</mat-label>
                </ul>
            </div>

        </mat-expansion-panel>
    </div>
</mat-accordion>