
<mat-selection-list #holidays [multiple]="false">
    <mat-list-option *ngFor="let h of holidays$ | async" [value]="h">
        <div class="flex-col">
            <div>{{h.descriptionHoliday}}</div>
            <button mat-button color="primary">הסטוריה</button>
        </div>
    </mat-list-option>
</mat-selection-list>

<p>
    Option selected: {{holidays.selectedOptions.selected[0]?.value?.descriptionHoliday}}
</p>

<!--  רשימה של כל שמות החגים עם אפשרות להיכנס לכל חג ומה יהיה בכניסה לחג?
הוספת חג חדש
כפתור להפניה להסטוריה  -->