<button style="margin: 1.5%;" (click)="exportexcel()" mat-stroked-button color="primary">המרת הטבלה לקובץ Excel</button>

<div style="display: flex;justify-content: space-around;">
  <mat-form-field appearance="standard">
    <mat-label>שנה</mat-label>
    <input matInput (keyup)="applyFilter(input.value,'year')" #input>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>חג</mat-label>
    <mat-select (valueChange)="applyFilter(holiday.value,'holiday')" #holiday>
      <mat-option *ngFor="let holiday of holidays" [value]="holiday.descriptionHoliday">
        {{holiday.descriptionHoliday}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>ישוב</mat-label>
    <input matInput (keyup)="applyFilter(sett.value,'settlement')" #sett>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>פעיל</mat-label>
    <input matInput (keyup)="applyFilter(vol.value,'volunteer')"  #vol>
  </mat-form-field>
</div>
<table id='historyTable' *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
matSort (matSortChange)="announceSortChange($event)">
  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      שנה
    </th>
    <td mat-cell *matCellDef="let element"> {{element.scheduling.yearHoliday}} </td>
  </ng-container>

  <!-- Holday Column -->
  <ng-container matColumnDef="holiday">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      חג
    </th>
    <td mat-cell *matCellDef="let element"> {{element.scheduling.descripation}} </td>
  </ng-container>

  <!-- settlement Column -->
  <ng-container matColumnDef="settlement">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      ישוב
    </th>
    <td   mat-cell *matCellDef="let element" routerLink="/management/settlement/editVolunteer/{{element.settlement.idSettlement}}"
    > {{element.settlement.settlement.nameSettlement}} </td>
  </ng-container>

  <!-- volunteer Column -->
  <ng-container matColumnDef="volunteer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
      פעיל
    </th>
    <td mat-cell *matCellDef="let element"> {{element.volunteer.volunteer.firstName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>