<div>
    <button mat-icon-button matSuffix (click)="changeAll()" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <button (click)="addPassword()" style="margin: 1.2%;" mat-stroked-button color="primary">צור סיסמה חדשה</button>
</div>
<div style="display: flex;flex-direction: column;align-items: baseline;margin: 2%;">
    <mat-form-field *ngFor="let p of passwords; let i = index">
        <input disabled matInput [type]="checkHide(i) ?'text': 'password'  " value="{{p}}">
        <button mat-icon-button matSuffix (click)="hides[i] = !hides[i]" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hides[i]">
            <mat-icon>{{hides[i] ?'visibility_off':'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>