<div class="center">
    <form [formGroup]="formNewSchedulingHoliday" (submit)="formNewSchedulingHoliday.valid && addSchedulingHoliday()">
        <p>
            <mat-form-field appearance="legacy">
                <label></label>
                <input matInput formControlName="yearHoliday">
                <!-- <mat-icon matSuffix>gmail</mat-icon> -->
                <mat-hint>שנה</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <label></label>
                <mat-select disableRipple name="idHoliday" id="idHoliday" formControlName="idHoliday">
                    <mat-option *ngFor="let h of holidays" [value]="h.idHoliday">{{h.descriptionHoliday}}</mat-option>
                </mat-select>
                <mat-hint>חג</mat-hint>
            </mat-form-field>
        </p>
        <button mat-raised-button type="submit" color="primary">שמירה</button>
    </form>
</div>
