<div class="flex-row">
    <div>
        <div>
            <mat-selection-list #sett [multiple]="false" (selectionChange)="selectSettlement(sett)">
                <mat-list-option *ngFor="let settlement of settlements|async"  [value]="settlement" >
                    {{settlement.settlement.nameSettlement}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div *ngIf="settlementChoose">
        <div>
            <span>צרכי הישוב:</span>
            <mat-card>{{settlementChoose?.settlement?.nameSettlement}} מיקום- {{settlementChoose?.settlement?.areaName}} כמות אנשים- {{settlementChoose?.amountPeopleConsumed}} נוסח - {{settlementChoose?.prayerText?.namePrayer}}</mat-card>
            <mat-chip-list>
                <mat-chip *ngFor="let p of settlementChoose.professionals" color="primary" selected>{{getProfessionalById(p)}}</mat-chip>
            </mat-chip-list>
        </div> 
        <br>
        <div>
            <span>איזה צרכים נשארו:</span>
            <mat-card>כמות אנשים- {{settlementChooseMoreNeeded.amountPeopleConsumed}} </mat-card>
            <mat-chip-list>
                <mat-chip *ngFor="let p of settlementChooseMoreNeeded.professionals" color="primary" selected>{{getProfessionalById(p)}}</mat-chip>
            </mat-chip-list>
        </div> 
        <!-- <div *ngIf="volunteersFromHistory" class="fromHistort">
            <mat-selection-list #shoes [multiple]="false" >
                <mat-list-option *ngFor="let volunteer of volunteersFromHistory|async" [value]="volunteer">
                    {{volunteer.volunteer.firstName+" "+volunteer.volunteer.lastName}}
                    <mat-chip-list>
                        <mat-chip *ngFor="let p of volunteer?.professionals" color="primary" selected>{{getProfessionalById(p)}}</mat-chip>
                    </mat-chip-list>
                </mat-list-option>
            </mat-selection-list>
        </div> -->
        <div class="">
            <mat-selection-list #shoes [multiple]="false" >
                <mat-list-option *ngFor="let volunteer of volunteers|async" [value]="volunteer">
                    {{volunteer.volunteer.firstName+" "+volunteer.volunteer.lastName}}
                    <mat-chip-list>
                        <mat-chip *ngFor="let p of volunteer.professionals" color="primary" selected>{{getProfessionalById(p)}}</mat-chip>
                    </mat-chip-list>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
</div>
