.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10%;
    max-width: 100vw;
    color: blue;
}
