<!-- <h1 mat-dialog-title>אזהרה</h1>
<div mat-dialog-content>
  <p>{{data.message}}</p> -->
  <!-- <mat-form-field appearance="fill"> -->
    <!-- <mat-label>Favorite Animal</mat-label> -->
    <!-- <input matInput [(ngModel)]="data.animal"> -->
  <!-- </mat-form-field> -->
<!-- </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">ביטול</button>
  <button mat-button [mat-dialog-close]="data.message" cdkFocusInitial>מחק</button>
</div> -->
<div style="display: flex;flex-direction: column;padding: 0;">
  <div class="first">
    <span style="font-size: 1.375rem;">מחיקה</span>
    <button  mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
      <mat-icon (click)="onNoClick()">close</mat-icon></button>  
  </div>
  <div><span style="padding: 5%;">{{data.message}}</span></div>
  <div class="btns">
    <button mat-raised-button color="primary" [mat-dialog-close]="data.message" cdkFocusInitial>מחק</button>
    <button mat-button (click)="onNoClick()">ביטול</button>
  </div>
</div>

