.btns{
    box-shadow: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 24px;
}

.first{
    display: flex; justify-content: space-between;
    align-items: center;
    background: none;
    box-shadow: none;
    display: flex;
    margin: 0;
    padding: 24px 24px 16px;
}
