<div *ngIf="schedulingHoliday" class="flex-row">

<button (click)="onNoClick()" routerLink="/management/scheduling/openScheduling/{{schedulingHoliday.idSchedulingHoliday}}/volunteers/{{schedulingHoliday.idSchedulingHoliday}}" mat-raised-button color="primary">פעילים אופציונלים</button>
<button (click)="onNoClick()" routerLink="/management/scheduling/openScheduling/{{schedulingHoliday.idSchedulingHoliday}}/settlements/{{schedulingHoliday.idSchedulingHoliday}}" mat-raised-button color="primary">ישובים אופציונלים</button>

<button (click)="onNoClick()" routerLink="/management/scheduling/openScheduling/{{schedulingHoliday.idSchedulingHoliday}}/actualScheduling/{{schedulingHoliday.idSchedulingHoliday}}" mat-raised-button color="primary">שיבוץ</button>
<button (click)="delete()" mat-raised-button color="primary">מחיקת השיבוץ</button>

</div>
