<div class="card">
    <form [formGroup]="settlementForm" class="form_register" (submit)="settlementForm.valid && saveNewSettlement()">
        <h2 style="padding-bottom: 20px;">נא מלא פרטי יישוב:</h2>
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="name">שם ישוב:</mat-label>
                <input id="name" matInput formControlName="nameSettlement">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>מיקום בארץ:</mat-label>
                <mat-select disableRipple name="idArea" id="idArea" formControlName="idArea">
                    <mat-option *ngFor="let a of areas" [value]="a.idArea">{{a.areaName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <button style="width:140px; padding: 5px;" type="button" (click)="EnterDetailsContactPerson()" mat-raised-button color="primary">הכנסת פרטי איש
            קשר</button>
        <form *ngIf="IsContactPerson" [formGroup]="contactPersonForm" class="form_concatper" >
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label for="firstName">שם פרטי</mat-label>
                    <input matInput id="firstName" formControlName="firstName">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label for="lastName">שם משפחה</mat-label>
                    <input id="lastName" matInput formControlName="lastName">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>טלפון</mat-label>
                    <input type="tel" id="phone" matInput formControlName="phone" placeholder="055-555-5555">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input id="gmail" type="email" matInput formControlName="gmail" placeholder="Ex. pat@example.com">
                    <mat-icon matSuffix>gmail</mat-icon>
                </mat-form-field>
            </p>
        </form>
        <button style="width:120px; padding: 5px;margin: 3%;" mat-raised-button color="primary">שמירה</button>
    </form>
</div>