<div style="display: flex;flex-direction: column;">
    <div *ngIf="schedulingHoliday" style="display: flex; justify-content: space-around;">
        <span>{{schedulingHoliday.descripation}}-{{schedulingHoliday.yearHoliday}}</span>
        <button (click)="finishScheduling()" mat-raised-button color="primary">סיום שיבוץ</button>
    </div>
    <div class="flex-row">
        <div style="width: 20%;">
            <div>
                <mat-selection-list #sett [multiple]="false" (selectionChange)="selectSettlement(sett)">
                    <mat-list-option *ngFor="let settlement of settlements|async" [value]="settlement">
                        {{settlement.settlement.nameSettlement}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        <div *ngIf="settlementChoose" style="width: 60%; display: flex; flex-direction: column;">
            <div>
                <span>צרכי הישוב:</span>
                <mat-card>{{settlementChoose?.settlement?.nameSettlement}} מיקום-
                    {{settlementChoose?.settlement?.areaName}} כמות אנשים- {{settlementChoose?.amountPeopleConsumed}}
                    נוסח - {{settlementChoose?.prayerText?.namePrayer}}</mat-card>
                <mat-chip-list>
                    <mat-chip *ngFor="let p of settlementChoose.professionals" color="primary" selected>
                        {{getProfessionalById(p)}}</mat-chip>
                </mat-chip-list>
            </div>
            <br>
            <!-- <div>
                <span>איזה צרכים נשארו:</span>
                <mat-card>כמות אנשים- {{settlementChooseMoreNeeded.amountPeopleConsumed}} </mat-card>
                <mat-chip-list>
                    <mat-chip *ngFor="let p of settlementChooseMoreNeeded.professionals" color="primary" selected>
                        {{getProfessionalById(p)}}</mat-chip>
                </mat-chip-list>
            </div> -->
            <div>
                <div *ngIf="volunteers">
                    <!-- <div> -->
                        פעילים שהיו כבר בישוב :
                        <br>
                        <mat-selection-list [multiple]="false">
                            <mat-list-option style="height: auto;" *ngFor="let volunteer of volunteers[0]"
                                [value]="volunteer">
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; flex-direction: column ;">
                                        <div>
                                            <span routerLink="../editVolunteer/{{volunteer.idVolunteer}}"
                                                style="font-weight: bold;">{{volunteer.volunteer.firstName}}
                                                {{volunteer.volunteer.lastName}} :</span>
                                             מספר אנשים -
                                            {{volunteer.countjoiners}}
                                            <span>נוסח - {{volunteer.prayerText.namePrayer}}</span>
                                        </div>
                                        <div>
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let p of volunteer.professionals"
                                                    [ngStyle]="{'backgroundColor': isProffesionalRelevant(p) ?'blue':'gray'}">
                                                    {{getProfessionalById(p)}}</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div>
                                        <button (click)="saveVolunteerToSettlement(volunteer)" mat-stroked-button
                                            color="primary">בחר פעיל</button>
                                    </div>
                                </div>
                            </mat-list-option>
                        <!-- </mat-selection-list> -->
                    <!-- </div> -->
                    <mat-divider></mat-divider>
                    <!-- <div> -->
                        פעילים:
                        <br>
                        <!-- <mat-selection-list [multiple]="false"> -->
                            <mat-list-option style="height: auto;" *ngFor="let volunteer of volunteers[1]"
                                [value]="volunteer">
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; flex-direction: column ;">
                                        <div>
                                            <span routerLink="../editVolunteer/{{volunteer.idVolunteer}}"
                                                style="font-weight: bold;">{{volunteer.volunteer.firstName}}
                                                {{volunteer.volunteer.lastName}} :</span>
                                             מספר אנשים -
                                            {{volunteer.countjoiners}}
                                            <span>נוסח - {{volunteer.prayerText.namePrayer}}</span>
                                        </div>
                                        <div>
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let p of volunteer.professionals"
                                                    [ngStyle]="{'backgroundColor': isProffesionalRelevant(p) ?'blue':'gray'}">
                                                    {{getProfessionalById(p)}}</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div>
                                        <button (click)="saveVolunteerToSettlement(volunteer)" mat-stroked-button
                                            color="primary">בחר פעיל</button>
                                    </div>
                                </div>
                            </mat-list-option>
                        <!-- </mat-selection-list> -->
                    <!-- </div> -->
                    <mat-divider></mat-divider>
                    <!-- <div> -->
                        פעילים ששובצו לישוב אחר :
                        <br>
                        <!-- <mat-selection-list [multiple]="false"> -->
                            <mat-list-option style="height: auto;" *ngFor="let volunteer of volunteers[3]"
                                [value]="volunteer">
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; flex-direction: column ;">
                                        <div>
                                            <span routerLink="../editVolunteer/{{volunteer.idVolunteer}}"
                                                style="font-weight: bold;">{{volunteer.volunteer.firstName}}
                                                {{volunteer.volunteer.lastName}} :</span>
                                            נוסח - {{volunteer.prayerText.namePrayer}} מספר אנשים -
                                            {{volunteer.countjoiners}}
                                        </div>
                                        <div>
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let p of volunteer.professionals"
                                                    [ngStyle]="{'backgroundColor': isProffesionalRelevant(p) ?'blue':'gray'}">
                                                    {{getProfessionalById(p)}}</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div>
                                        <button (click)="saveVolunteerToSettlement(volunteer,true)" mat-stroked-button
                                            color="primary">בחר פעיל</button>
                                    </div>
                                </div>
                            </mat-list-option>
                        <!-- </mat-selection-list> -->
                    <!-- </div> -->
                    <mat-divider></mat-divider>
                    <!-- <div> -->
                        פעילים שכבר שובצו לישוב :
                        <br>
                        <!-- <mat-selection-list [multiple]="false"> -->
                            <mat-list-option style="height: auto;" *ngFor="let volunteer of volunteers[2]"
                                [value]="volunteer">
                                <div style="display: flex; justify-content: space-between;">
                                    <div style="display: flex; flex-direction: column ;">
                                        <div>
                                            <span routerLink="../editVolunteer/{{volunteer.idVolunteer}}"
                                                style="font-weight: bold;">{{volunteer.volunteer.firstName}}
                                                {{volunteer.volunteer.lastName}} :</span>
                                            נוסח - {{volunteer.prayerText.namePrayer}} מספר אנשים -
                                            {{volunteer.countjoiners}}
                                        </div>
                                        <div>
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let p of volunteer.professionals"
                                                    [ngStyle]="{'backgroundColor': isProffesionalRelevant(p) ?'blue':'gray'}">
                                                    {{getProfessionalById(p)}}</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div>
                                        <button (click)="saveVolunteerToSettlement(volunteer)" mat-stroked-button
                                            color="primary">בחר פעיל</button>
                                    </div>
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>