.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
::ng-deep .dialog >  mat-dialog-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    max-width: 100vw;
    right: 0;
}
